:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.calculator {
  height: auto;
  width: 380px;
  border: 2px solid black;
  box-sizing: border-box;
  box-shadow: 0px 0px 43px 17px rgb(153, 153, 153);
  // box-shadow: 0px 0px 43px 17px rgba(11, 11, 11, 0.793);
  // border-radius: 27px;
  border-radius: 35px;
  margin: 200px auto;
  background: black;
  color: black;
  &__display {
      height: 100px;
      width: 320px;
      // border: 5px solid rgb(103, 33, 8);
      box-sizing: border-box;
      text-align: right;
      margin:20px auto;
      line-height: 100px;
      padding: 0 8px;
      font-size: 50px;
      border-radius: 7px;
      font-weight: 600;
      background: rgb(252, 255, 255);
      color: rgb(75, 3, 3);
    }
  // &__display {

  // }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px;
    box-sizing: border-box;
  }
  &__button {
      border: 3px solid black;
      line-height: 100px;
      border-radius: 11px;
      box-sizing: border-box;
      background: grey;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      color: antiquewhite;
      box-sizing: border-box;
      &:hover {
          filter: brightness(85%);
          cursor: pointer;
          color: darken(white, 100%);
        }
  }
    // &__button-actions {
    //   border: 3px solid black;
    //   line-height: 100px;
    //   border-radius: 11px;
    //   box-sizing: border-box;
    //   background: rgba(255, 166, 0, 0.802);
    //   text-align: center;
    //   font-weight: 600;
    //   font-size: 40px;
    //   box-sizing: border-box;
    //   &:hover {
    //       filter: brightness(80%);
    //       color: grey;
    //       cursor: pointer;
    //     }
    // }
    &__button-reset {
      border: 3px solid black;
        line-height: 100px;
        border-radius: 11px;
        box-sizing: border-box;
        background: rgba(255, 166, 0, 0.802);
        text-align: center;
        font-weight: 600;
        font-size: large;
        font-size: 50px;
        color: rgba(65, 60, 60, 0.984);
        box-sizing: border-box;
        &:hover {
            filter: brightness(80%);
            cursor: pointer;
            color: grey;
          }
    }
    &__button-equal {
      border: 3px solid black;
        line-height: 100px;
        border-radius: 11px;
        box-sizing: border-box;
        background: rgba(255, 166, 0, 0.802);
        text-align: center;
        font-weight: 600;
        font-size: large;
        font-size: 50px;
        color: rgba(1, 19, 19, 0.983);
        
        box-sizing: border-box;
        &:hover {
            filter: brightness(80%);
            cursor: pointer;
            color: grey;
          }
    }
    &__button_zero {
      border: 3px solid black;
      line-height: 100px;
      border-radius: 11px;
      box-sizing: border-box;
      background: grey;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      color: antiquewhite;
      box-sizing: border-box;
      grid-column: 1/ -1;
      &:hover {
          filter: brightness(85%);
          cursor: pointer;
          color: darken(white, 100%);
        }
  }
}

